* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.socials {
  display: inline-flex;
}

.context {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.context h2 {
  font-size: 40px;
  padding-bottom: 5px;
  margin-bottom: 60px;
  font-weight: 600;
  display: inline-flex;
  text-align: center;
  position: relative;
}

.context h2:after {
  content: "";
  height: 10px;
  width: 100px;
  max-width: 50%;
  position: absolute;
  left: 0;
  bottom: -10px;
  border-radius: 5px;
  background-color: #675cf3;
}

.context-invert {
  background-color: #675cf3;
}

.context-invert h2 {
  color: white;
  border-color: #333;
}

.context-invert h2:after {
  background-color: #333;
}

.card {
  overflow: hidden;
  border-radius: 10px;
}

.btn-primary {
  background-color: #675cf3;
  border-color: #675cf3;
}

.btn-primary:hover {
  background-color: #5649f1;
  border-color: #5649f1;
}
